<template>
    <div id="app">
        <div class="toolbar">
            <button @click="prev">&laquo;</button>
            <button @click="zoomIn">+</button>
            <button @click="zoomOut">-</button>
            <button @click="next">&raquo;</button>
        </div>
        <div class="main-view">

            <div id="zoom-viewport" ref="zoomviewport">
                <div id="flipbook" ref="flipbook">
                    <div v-for="page in pages" :key="page">
                        <img :src="page" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style>
    *, *::before, *::after {
        box-sizing: border-box;
    }
    body, html {
        margin: 0;
        padding: 0;
    }
    #app {
        width: 100vw;
        height: 100vh;
        background: #333;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 48px 1fr;
        overflow: hidden;
    }
    #zoom-viewport {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .toolbar {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .toolbar button {
        margin: 0 4px;
        background: none;
        border: none;
        outline: none;
        color: white;
        padding: 8px;
        background-color: rgba(255,255,255,0.13);
        width: 32px;
        cursor: pointer;
        transition: background-color 0.25s ease-in-out;
    }
    .toolbar button:hover, .toolbar button:focus {
        background-color: rgba(255,255,255,0.3);
    }
    .page img {
        max-width: 100%;
        max-height: 100%;
    }
</style>

<script>

import $ from 'jquery';

import turn from "./lib/turn";
import zoom from './lib/zoom';


export default {
    props: ['pages'],
    methods: {
        zoomIn() {
            let $zoomviewport = $(this.$refs.zoomviewport);
            $zoomviewport.zoom('zoomIn');
        },
        zoomOut() {
            let $zoomviewport = $(this.$refs.zoomviewport);
            $zoomviewport.zoom('zoomOut');
        },
        next() {
            let $flipbook = $(this.$refs.flipbook);
            $flipbook.turn('next');
        },
        prev() {
            let $flipbook = $(this.$refs.flipbook);
            $flipbook.turn('previous');
        },
        async resize() {
            let images = await Promise.all(this.pages.map(page => new Promise((resolve, reject) => {
                let img = new Image();
                img.onload = () => resolve(img);
                img.onerror = reject;
                img.src = page;            
            })));

            let width = 0;
            let height = 0;

            images.forEach(img => {                
                width = Math.max(img.width, width);
                height = Math.max(img.height, height);
            });

            let maxWidth = (window.innerWidth / 2);
            let maxHeight = window.innerHeight - 60;

            let scaleWidth = maxWidth / width;
            let scaleHeight = maxHeight / height;

            let scale = Math.min(scaleWidth, scaleHeight);

            width *= scale * 2;
            height *= scale;

            let $flipbook = $(this.$refs.flipbook);
            let $zoomviewport = $(this.$refs.zoomviewport);

            $flipbook.turn('size', width , height);
            $zoomviewport.zoom('resize');
        }
    },
    async mounted() {
        
        let $flipbook = $(this.$refs.flipbook);
        let $zoomviewport = $(this.$refs.zoomviewport);
        $flipbook.turn({
            width: 0,
            height: 0,
            autoCenter: true,            
        });
        $zoomviewport.zoom({
            flipbook: $flipbook,
            max: 2,
            when: {
                zoomIn: () => {
                    
                    //$flipbook.turn('resize');
                    $zoomviewport.zoom('resize');
                }
            }
        });
        this.resize();
        $(window).on('resize', () => {
            if (this.timer) {
                window.clearTimeout(this.timer);
            }
            this.timer = window.setTimeout(() => {
               this.resize();
            }, 100);
        })
    }
}
</script>